<div>
    <h1>Language List</h1>
    <form (ngSubmit)="addLanguage()">
        <input type="text" [(ngModel)]="newLanguage" name="newLanguage" placeholder="Add or edit a language" required>
        <button type="submit">{{ editIndex === null ? 'Add Language' : 'Update Language' }}</button>
    </form>
    <ul>
        <li *ngFor="let language of languages; let i = index">
            {{ language }}
            <button (click)="editLanguage(i)">Edit</button>
            <button (click)="removeLanguage(language)">Remove</button>
        </li>
    </ul>
</div>
