<div>
    <h2>Artist List</h2>
    <input [(ngModel)]="newArtist.name" placeholder="Artist Name" />
    <input [(ngModel)]="newArtist.year" placeholder="Year" type="number" />
    <input [(ngModel)]="newArtist.masterpiece" placeholder="Masterpiece" />
    <button (click)="addArtist()">{{ editIndex !== null ? 'Update' : 'Add' }}</button>
</div>

<div>
    <h3>Search Artists</h3>
    <input [(ngModel)]="searchArtist" placeholder="Search by artist name" />
</div>

<ul>
    <li *ngFor="let artist of getFilteredArtists(); let i = index">
        {{ artist.name }} ({{ artist.year }}) - {{ artist.masterpiece }}
        <button (click)="editArtist(i)">Edit</button>
        <button (click)="removeArtist(i)">Remove</button>
    </li>
</ul>