<div class="container px-5 py-2">
    <div class="row">
        <div class="col-md-6">
            <ol class="p-2">
                <li><a routerLink="studentlist" class="btn btn-outline-dark">Student List</a></li>
                <li><a routerLink="employeelist" class="btn btn-outline-dark">Employee List</a></li>
                <li><a routerLink="fruitlist" class="btn btn-outline-dark">Fruit List</a></li>
                <li><a routerLink="courselist" class="btn btn-outline-dark">Course List</a></li>
                <li><a routerLink="booklist" class="btn btn-outline-dark">Book List</a></li>
                <li><a routerLink="citylist" class="btn btn-outline-dark">City List</a></li>
                <li><a routerLink="movielist" class="btn btn-outline-dark">Movie List</a></li>
                <li><a routerLink="carmodellist" class="btn btn-outline-dark">Car Model List</a></li>
                <li><a routerLink="productlist" class="btn btn-outline-dark">Product List</a></li>
                <li><a routerLink="subjectlist" class="btn btn-outline-dark">Subject List</a></li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol class="p-2">
                <li><a routerLink="countrylist" class="btn btn-outline-dark">Country List</a></li>
                <li><a routerLink="sportslist" class="btn btn-outline-dark">Sports List</a></li>
                <li><a routerLink="vegetablelist" class="btn btn-outline-dark">Vegetable List</a></li>
                <li><a routerLink="animallist" class="btn btn-outline-dark">Animal List</a></li>
                <li><a routerLink="toollist" class="btn btn-outline-dark">Tool List</a></li>
                <li><a routerLink="languagelist" class="btn btn-outline-dark">Language List</a></li>
                <li><a routerLink="gamelist" class="btn btn-outline-dark">Game List</a></li>
                <li><a routerLink="softwarelist" class="btn btn-outline-dark">Software List</a></li>
                <li><a routerLink="phonecontactlist" class="btn btn-outline-dark">Phone Contact List</a></li>

            </ol>
        </div>
    </div>
</div>

<hr>

<router-outlet></router-outlet>
<router-outlet></router-outlet>
<router-outlet></router-outlet>