<div class="container px-5 py-2">
    <div class="row">
        <div class="col-md-6">
            <ol class="p-2">
                <li><a routerLink="studentlist" class="btn btn-outline-dark">Student List</a></li>
                <li><a routerLink="employeelist" class="btn btn-outline-dark">Employee List</a></li>
                <li><a routerLink="fruitlist" class="btn btn-outline-dark">Fruit List</a></li>
                <li><a routerLink="courselist" class="btn btn-outline-dark">Course List</a></li>
                <li><a routerLink="booklist" class="btn btn-outline-dark">Book List</a></li>
                <li><a routerLink="citylist" class="btn btn-outline-dark">City List</a></li>
                <li><a routerLink="movielist" class="btn btn-outline-dark">Movie List</a></li>
                <li><a routerLink="carmodellist" class="btn btn-outline-dark">Car Model List</a></li>
                <li><a routerLink="productlist" class="btn btn-outline-dark">Product List</a></li>
                <li><a routerLink="subjectlist" class="btn btn-outline-dark">Subject List</a></li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol class="p-2">
                <li><a routerLink="countrylist" class="btn btn-outline-dark">Country List</a></li>
                <li><a routerLink="sportslist" class="btn btn-outline-dark">Sports List</a></li>
                <li><a routerLink="vegetablelist" class="btn btn-outline-dark">Vegetable List</a></li>
                <li><a routerLink="animallist" class="btn btn-outline-dark">Animal List</a></li>
                <li><a routerLink="toollist" class="btn btn-outline-dark">Tool List</a></li>
                <li><a routerLink="languagelist" class="btn btn-outline-dark">Language List</a></li>
                <li><a routerLink="gamelist" class="btn btn-outline-dark">Game List</a></li>
                <li><a routerLink="softwarelist" class="btn btn-outline-dark">Software List</a></li>
                <li><a routerLink="phonecontactlist" class="btn btn-outline-dark">Phone Contact List</a></li>
                <li><a routerLink="musicplaylist" class="btn btn-outline-dark">Music Play List</a></li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol class="p-2">
                <li><a routerLink="foodmenu" class="btn btn-outline-dark">Food Menu</a></li>
                <li><a routerLink="grocerylist" class="btn btn-outline-dark">Grocery List</a></li>
                <li><a routerLink="classroomlist" class="btn btn-outline-dark">Classroom List</a></li>
                <li><a routerLink="inventorylist" class="btn btn-outline-dark">Inventory List</a></li>
                <li><a routerLink="lecturelist" class="btn btn-outline-dark">Lecture List</a></li>
                <li><a routerLink="stationerylist" class="btn btn-outline-dark">Stationery List</a></li>
                <li><a routerLink="flowerlist" class="btn btn-outline-dark">Flower List</a></li>
                <li><a routerLink="destinationlist" class="btn btn-outline-dark">Destination List</a></li>
                <li><a routerLink="laptoplist" class="btn btn-outline-dark">Laptop List</a></li>
                <li><a routerLink="laptopspecificationslist" class="btn btn-outline-dark">Laptop Specifications List</a></li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol class="p-2">
                <li><a routerLink="computerhardwarelist" class="btn btn-outline-dark">Computer Hardware List</a></li>
                <li><a routerLink="mobileapplist" class="btn btn-outline-dark">Mobile App List</a></li>
                <li><a routerLink="videolist" class="btn btn-outline-dark">Video List</a></li>
                <li><a routerLink="tvshowlist" class="btn btn-outline-dark">Tv Show List</a></li>
                <li><a routerLink="furniturelist" class="btn btn-outline-dark">Furniture List</a></li>
                <li><a routerLink="accessorylist" class="btn btn-outline-dark">Accessory List</a></li>
                <li><a routerLink="buildinglist" class="btn btn-outline-dark">Building List</a></li>
                <li><a routerLink="paintinglist" class="btn btn-outline-dark">Painting List</a></li>
                <li><a routerLink="artistlist" class="btn btn-outline-dark">Artist List</a></li>
                <li><a routerLink="composerlist" class="btn btn-outline-dark">Composer List</a></li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol class="p-2">
                <li><a routerLink="podcastlist" class="btn btn-outline-dark">Podcast List</a></li>
                <li><a routerLink="exerciselist" class="btn btn-outline-dark">Exercise List</a></li>
                <li><a routerLink="mealplanlist" class="btn btn-outline-dark">Meal Plan List</a></li>
                <li><a routerLink="budgetlist" class="btn btn-outline-dark">Budget List</a></li>
                <li><a routerLink="presentationlist" class="btn btn-outline-dark">Presentation List</a></li>
                <li><a routerLink="tourlist" class="btn btn-outline-dark">Tour List</a></li>
                <li><a routerLink="eventlist" class="btn btn-outline-dark">Event List</a></li>
                <li><a routerLink="developertoolslist" class="btn btn-outline-dark">Developer Tools List</a></li>
                <li><a routerLink="frameworklist" class="btn btn-outline-dark">Framework List</a></li>
                <li><a routerLink="librarylist" class="btn btn-outline-dark">Library List</a></li>
            </ol>
        </div>

        <hr>


        <router-outlet> </router-outlet>